NODE_ENV=test
TEST_MONGODB_URI=mongodb://localhost:27018/i-one-test
REDIS_HOST=localhost
REDIS_PORT=6380
JWT_SECRET=test-secret
USER_JWT_EXPIRATION=86400
PAYSTACK_SECRET_KEY=test-paystack-secret
PAYSTACK_BASE_URL=http://localhost:9999
AWS_REGION=us-east-1
AWS_S3_BUCKET=i-one-test
